/* CUSTOM PROPERTIES */
:root{    
    --text-color: #7D7D7D;
    --font-family: "Roboto", "Arial", sans-serif;
}

/* FONTS */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), 
    url('../fonts/roboto-v27-latin-500.woff') format('woff'); 
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v27-latin-700.woff2') format('woff2'), 
    url('../fonts/roboto-v27-latin-700.woff') format('woff'); 
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v27-latin-900.woff2') 
    url('../fonts/roboto-v27-latin-900.woff') format('woff'); 
}

html{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--font-family);
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
}
.header-container{
    display: flex;
    align-items: center;
    padding-top: 41px;
    margin-bottom: 140px;
}
.logo-img{
    display: block;
}
.site-nav{
    margin-left: 175px;
}
.sitenav-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}
.sitenav-item:not(:last-child){
    margin-right: 72px;
}
.sitenav-link{
    padding: 10px 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #373737;
    white-space: nowrap;
}
.sitenav-item:not(:last-child)::after {
    margin-top: 10px;
    content: "";
    width: 0px;
    display: block;
    height: 2px;
    background-color: #717CFF;
    transition: width .3s;
}

.sitenav-item:hover::after {
    width: 100%;
    transition: width .3s;
}
.site-header__toggler{
    display: none;
}
.apply-link{
    padding: 10px 33px;
    border: 2px solid #717CFF;
    border-radius: 11px;
}
.apply-link:hover{
    background-color: #717CFF;
    color: #FFFFFF;
}


.top-section{
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(/img/student-woman.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 600px) 10px;
}
.top-section-container{
    display: flex;
    flex-direction: column;
}
.top-section-title{
    max-width: 532px;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    color: #2F2F2F;
}
.top-title-span{
    color: #717CFF;
}
.top-section-text{
    max-width: 632px;
    margin-bottom: 42px;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: var(--text-color);
}
.apply-online-link{
    max-width: 262px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 101px;
    padding: 12px 0;
    padding-left: 34px;
    text-decoration: none;
    background-color: #717CFF;
    background-image: url("/img/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 200px center;
    border-radius: 11px;
    border: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
    border: 2px solid #717CFF;
    cursor: pointer;
}
.apply-online-link:hover{
    background-color: #FFFFFF;
    border: 2px solid #717CFF;
    color: #000;
}
.networks-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 54px;
}
.twitter-link{
    margin-left: 23px;
    margin-right: 15px;
}


.universities-section{
    background: #FAFAFA;
    padding: 55px 0;
}
.universities-title{
    margin: 0;
    margin-bottom: 86px;
    padding: 0;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #373737;
    opacity: 0.73;
}
.universities-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 104px;
    list-style: none;
}
.univer-btn-list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.univer-btn-item:not(:last-child){
    margin-right: 15px;
}
.univer-btn{
    padding: 5px;
    border-radius: 50%;
    border: none;
    background: rgba(124, 124, 124, 0.318837);
}
.univer-btn:hover{
    background-color: #717CFF;;
}


.services-section{
    padding-top: 122px;
    padding-bottom: 126px;
}
.services-title{
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}
.services-text{
    max-width: 950px;
    margin: 0 auto;
    margin-bottom: 104px;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: var(--text-color);
}
.services-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}
.services-item{
    max-width: 300px;
    padding: 30px;
    padding-right: 17px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}
.services-item:nth-child(2){
    margin-left: 47px;
    margin-right: 47px;
}
.services-item:nth-child(4){
    margin-right: 47px;
}
.career-item,
.admissions-item,
.visa-item{
    margin-bottom: 56px;
}
.services-item-title{
    margin: 0;
    margin-bottom: 9px;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
}
.services-item::before{
    content: "";
    border-radius: 38px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 76px;
    height: 76px;
    margin-bottom: 30px;
}
.career-item::before{
    background-color: #717CFF;
    background-image: url(/img/radar.svg);
}
.admissions-item::before{
    background-color: #FF5959;
    background-image: url(/img/bookmark.svg);
}
.visa-item::before{
    background-color: #70CE88;
    background-image: url(/img/file-checked.svg);
}
.accomadation-item::before{
    background-color: #5C96FF;
    background-image: url(/img/home.svg);
}
.pre-departure-item::before{
    background-color: #FA706C;
    background-image: url(/img/airplane.svg);
}

.services-item-text{
    max-width: 296px;
    margin: 0;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
}
.services-item-link{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
}
.services-item-link::after{
    content: "";
    display: block;
    background-image: url(/img/arrow-right.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 16px;
}


.news-section{
    padding-top: 102px;
    padding-bottom: 124px;
    background-color: #FAFAFA;
}
.news-section-title{
    margin: 0;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}
.news-section-text{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 119px;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: var(--text-color);
}
.news-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    margin-bottom: 146px;
    padding: 0;
}
.news-item{
    max-width: 344px;
    margin: 0;
    padding: 0;
    padding-bottom: 62px;
    background: #FFFFFF;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
}
.news-item::before{
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 344px;
    height: 224px;
    margin-bottom: 28px;
}
.water-item::before{
    background-image: url("/img/art-left.png");
}
.trump-item::before{
    background-image: url("/img/art-woman-center.png");
}
.regrow-item::before{
    background-image: url("/img/art-right.png");
}
.news-item-time{
    display: inline-flex;
    align-items: center;
    padding-left: 26px;
}
.news-item-time::before{
    content: "";
    display: block;
    background-image: url("/img/calendar.svg");
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    margin-right: 12px;
}
.news-item-title{
    padding: 0 26px;
}
.news-item-title-link{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #252525;
}

.news-join-link{
    max-width: 226px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 34px;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    background-color: #717CFF;
    border: 2px solid #717CFF;
    border-radius: 11px;
    color: #FFFFFF;
}
.news-join-link:hover{
    color: #000;
    background-color: #FFFFFF;
    border: 2px solid #717CFF;
}
.news-join-link::after{
    content: "";
    display: block;
    background-image: url("/img/arrow-right.svg");
    background-repeat: no-repeat;
    width: 29px;
    height: 26px;
    margin-left: 36px;
}
.join-link-box{
    display: flex;
    justify-content: center;
}


.events-section__container{
    padding-top: 98px;
    padding-bottom: 110px;
}
.events-section__title{
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}
.events-section__text{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: var(--text-color);
}
.events-section__list{
    display: flex;
    align-items: center;
    list-style: none;
}
.events-section__item{
    max-width: 480px;
    padding: 30px;
    margin-right: 50px;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}
.events-section__title-box{
    display: flex;
    align-items: flex-start;
    margin-bottom: 28px;
}
.events-section__span{
    display: block;
    max-width: 76px;
    padding: 10px 20px;
    background: rgba(113, 125, 255, 0.341);
    border-radius: 11px;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    color: #717CFF;
}
.events-section__span__span{
    display: block;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #717CFF;
}
.events-section__sub-title{
    max-width: 351px;
    margin: 0;
    margin-left: 19px;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
}
.events-section__sub-text{
    margin: 0;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
}
.events-section__link{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
}
.events-section__link::after{
    content: "";
    display: block;
    background-image: url(/img/arrow-right.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 16px;
}
.events-section__sub-span{
    display: inline-block; 
    margin-left: 80px;
    font-weight: 900;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    letter-spacing: 0.444444px;
    color: #373737
}
.events-section__sub-span::before{
    content: "";
    display: inline-block;
    background-image: url("/img/time.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:  center 2px;
    width: 17px;
    height: 17px;
}


.countries-section{
    padding-top: 82px;
    padding-bottom: 138px;
    background-color: #FAFAFA;
}
.countries-secion__title{
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}
.countries-section__text{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 77px;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: var(--text-color);
}
.countries-section__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.countries-section__item{
    position: relative;
    padding-top: 210px;
    max-width: 348px;
}
.countries-section__item::before{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 348px;
    height: 215px;
    top: 0px;
}
.countries-section__australia-item::before{
    background-image: url("/img/sydney-opera.png");
}
.countries-section__canada-item::before{
    background-image: url("/img/canada.png");
}
.countries-section__uk-item::before{
    background-image: url("/img/study-in-united-kingdom.png");
}
.countries-section__link{
    text-decoration: none;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #37474F;
}
.countries-section__sub-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: rgba(55, 71, 79, 0.721569);
}


.testimonial-section{
    padding-top: 115px;
    padding-bottom: 95px;
}
.testimonial-section__title{
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}
.testimonial-section__text{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 142px;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
}
.testimonial-section__list{
    display: flex;
    align-items: center;
    list-style: none;
}
.testimonial-section__item{
    max-width: 440px;
    padding: 46px 32px;
}
.testimonial-section__sub-title-box{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.testimonial-section__img{
    display: block;
}
.testimonial-section-sub-box{
    margin-left: 28px;
}
.testimonial-section__sub-title{
    margin: 0;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #37474F;
}
.testimonial-section__sub-title-text{
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #37474F;
    opacity: 0.65;
}
.testimonial-section__sub-text{
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: rgba(55, 71, 79, 0.721569);
}


.apply-section{
    background-color: #FAFAFA;
}
.apply-section__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
}
.apply-section__text{
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #252525;
}
.apply-section__link{
    width: 200px;
    padding: 12px 34px;
    text-decoration: none;
    background: #717CFF;
    background-image: url(/img/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 180px center;
    border-radius: 11px;
    border: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
    border: 2px solid #717CFF;
    cursor: pointer;
}
.apply-section__link:hover{
    color: #000;
    background-color: #FFFFFF;
    border: 2px solid #717CFF;
}


.site-footer{
    padding-top: 65px;
    padding-bottom: 45px;
    background-color: #717CFF;
}
.site-footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-footer__logo{
    margin-bottom: 26px;
}
.site-footer__address{
    max-width: 343px;
    margin-bottom: 58px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #EEEEEE;
}
.site-footer__copyright-text{
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #EEEEEE;
}
.about-section__list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.about-section__link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 49px;
    color: #EEEEEE;
}
.about-section__link:hover{
    text-decoration: underline;
}
.disclaimer-section__list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.disclaimer-section__link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 49px;
    color: #EEEEEE;
}
.disclaimer-section__link:hover{
    text-decoration: underline;
}
.site-footer__network-section{
    margin: 0;
    margin-top: auto;
}
.networks-list{
    padding-bottom: 30px;
}

.slick-slide {
    display: flex;
    align-items: center;
    width: 400px;
    margin-right: 180px;
}


/* RESPONSIVE */

@media only screen and (max-width: 768px) {
    .container{
        max-width: 768px;
        margin: 0 auto;
        padding: 0 30px;
    }
    
    .header-container{
        margin-bottom: 40px;
    }
    
    .site-nav{
        margin-left: 60px;
        white-space: normal;
    }
    
    .sitenav-item:not(:last-child){
        margin-right: 20px;
    }
    
    .sitenav-link{
        font-size: 14px;
        line-height: 16px;
    }
    
    .apply-link{
        padding: 5px 15px;
    }
    
    .top-section{
        padding-top: 450px;
        background-image: url("/img/student-center.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: calc(50% ) top;
    }
    
    .top-section-container{
        margin: 0 auto;
        text-align: center;
    }
    .top-section-title,
    .top-section-text,
    .apply-online-link{
        margin: 0 auto;
        margin-bottom: 40px;
    }
    
    .apply-online-link{
        width: 220px;
    }
    
    .networks-list{
        margin: 0 auto;
    }
    
    .services-list{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    
    .services-item:not(:last-child){
        margin-right: 20px;
    }
    
    .services-text,
    .news-section-text,
    .events-section__text,
    .countries-section__text,
    .testimonial-section__text
    {
        max-width: 632px;
        margin: 0 auto;
        margin-bottom: 35px;
    }
    .services-section,
    .news-section,
    .events-section,
    .countries-section,
    .testimonial-section{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    .services-item{
        margin: 0;
        margin-bottom: 30px;
    }
    .services-item:nth-child(2),
    .services-item:nth-child(4){
        margin-left: 0;
        margin-right: 0;
    }
    
    
    .news-list{
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    
    .news-item:not(:last-child){
        margin-bottom: 30px;
    }
    
    .regrow-item{
        margin: 0 auto;
    }
    
    .events-section__list{
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 375px){
    .container {
        margin: 0 auto;
        padding: 0 15px;
    }

    .site-header__toggler{
        display: block;
        margin-left: auto;
        padding: 5px 10px;
        border: 1px solid #2F2F2F;
        border-radius: 5px;
        background-color: #FFFFFF;
        color: #2F2F2F;
        cursor: pointer;
    }

    .site-header__toggler:active{
        background-color: #2F2F2F;
        color: #FFFFFF;
    }
    
    .sitenav-list{
        transition: transform 0.3s ease;
        z-index: 99;
        position: fixed;
        top: 4%;
        left: -20%;
        bottom: 0;
        width: 33%;
        height: 35%;
        padding-top: 14px;
        padding-left: 10px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        background-color: #333A44;
        border-radius: 5px;
        transform: translateX(300px);
    }
    .site-nav--open{
        z-index: 99;
        transform: translateX(800px);
    }
    
    .sitenav-link{
        display: block;
        text-align: center;
        color: #FAFAFA;
    }
    .top-section{
        padding-top: 250px;
        background-image: url("/img/student-center.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: calc(50% ) top;
    }
    
    .top-section-title,
    .services-title,
    .news-section-title,
    .events-section__title,
    .countries-secion__title,
    .testimonial-section__title{
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 25px;
    }
    
    .top-section-text,
    .testimonial-section__text,
    .countries-section__text,
    .events-section__text,
    .news-section-text,
    .services-text
    {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 25px;
    }
    
    .apply-online-link,
    .apply-section__link{
        max-width: 150px;
        padding: 5px 0;
        padding-left: 15px;
        background-position: 120px center;
        font-size: 16px;
        line-height: 25px;
    }
    
    .services-section,
    .news-section,
    .events-section,
    .countries-section,
    .testimonial-section,
    .apply-section{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .services-item:nth-child(1),
    .services-item:nth-child(3){
        margin-left: 0;
        margin-right: 0;
    }
    
    .events-section__list,
    .testimonial-section__list{
        max-width: 311px;
        padding: 0 10px;
    }
    
    .events-section__item{
        padding: 0;
    }
    
    .events-section__sub-title,
    .testimonial-section-sub-box{
        max-width: 210px;
        font-size: 20px;
        line-height: 30px;
    }
    
    .events-section__sub-text{
        max-width: 290px;
        text-align: center;
    }
    
    .events-section__link{
        display: inline-flex;
        align-items: center;
        font-size: 14px;
        line-height: 16px;
    }
    
    .events-section__link::after{
        width: 24px;
        height: 20px;
    }
    .events-section__sub-span{
        margin-left: 10px;
        font-size: 14px;
        line-height: 16px;
    }
    .events-section__sub-span::before{
        background-size: contain;
        background-position: center 4px;
    }
    
    .countries-section__link{
        display: block;
        text-align: center;
    }
    .countries-section__sub-text{
        text-align: center;
    }
    
    .testimonial-section__sub-text{
        max-width: 260px;
        text-align: center;
    }
    
    .apply-section__container{
        flex-direction: column;
    }
    
    .apply-section__text{
        margin-top: 0;
        text-align: center;
        font-size: 34px;
        line-height: 39px;
    }

    .site-footer{
        padding: 0;
    }
    .site-footer__about-section{
        display: none;
    }
} 
